* {
    margin: 0;
    padding: 0;
}

body,
html {
    width: 100%;
    height: 100%;
    background-color: #181818;
    color: #ffffff;


}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: black;
    color: aliceblue;
}

section .menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;

}

section .menu ul li {
    list-style-type: none;
}

section .menu ul li a {
    text-decoration: none;
    color: aliceblue;
    cursor: pointer;
}

section .menu ul li a:hover {
    color: #a460f9;
    transition: 0.7s;
}

.content {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.content .background {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #a460f9;
    position: absolute;

}

.content .item .btn1 {

    position: absolute;
    margin: 10px 20px;
    width: 100px;
    height: 30px;
    right: 40px;
    background-color: #a460f9;
    cursor: pointer;
    color: #ffffff;
}

.content .item .btn2 {

    position: absolute;
    margin: 10px 20px;
    width: 100px;
    height: 30px;
    left: 0;
    background-color: #a460f9;
    cursor: pointer;
    color: #ffffff;
}

.content>img {
    align-self: flex-end;
    height: 100%;
    z-index: 1;
}

.content .item .ui-span {
    position: absolute;
    transform: rotate(90deg);
    font-size: 70px;


}

.content .item .highlight {
    position: absolute;
    top: 30px;
    left: 250px;
    font-size: 70px;
    color: #a460f9;
}




.content .item .tittle-left {
    font-size: 40px;
    transform: rotate(-90deg)
}

.content .item .edition-2024 {
    position: relative;
    bottom: 15vh;
    border: solid 2px white;
    padding: 0px 20px;
    left: 5px;

}

.content .item {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
}

.content .item-start-guide {
    position: relative;
    top: 10vh;
    width: 300px;
    right: 150px;
}

.content .item-start-guide h1 {
    font-size: 25px;
}

.content .item .become-pro-designer {
    position: relative;
    top: 25vh;
    padding: 10px;
    height: 100px;
    left: 250px;


}

.content>.item-01 {
    position: absolute;
    right: 80%;
    top: 40vh;

}



.rodape {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: black;
    color: aliceblue;
    padding: 0 200px 0 200px;

}

.rodape .item {
    display: flex;
    justify-content: center;
    align-items: center;

}

.item button {
    position: relative;
    margin: 10px 20px;
    width: 100px;
    height: 30px;
    right: 80px;
    cursor: pointer;
}

.plus {
    color: #aa84f9;
    font-weight: bold;
    font-size: 2rem;

}

.number {

    font-size: 3rem;

}

.text {
    text-transform: uppercase;
    padding: 5px;

    font-size: 1rem;

}

.content-01 {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-01>h1 {
    text-align: center;
    font-size: 100px;

}

.content-01 img {
    position: absolute;

}



.content-01 .down-arrow {
    transform: rotate(-90deg);
    position: absolute;
    top: 700px;
    cursor: pointer;
}

.content-01>.text-paragraph-01 {
    position: absolute;
    width: 200px;
    left: 80%;
    text-align: center;

    transform: rotate(90deg);

}

.content-01>.text-paragraph-02 {
    position: absolute;
    width: 200px;
    text-align: center;

    right: 80%;

    transform: rotate(-90deg);

}

.content-01 .explore-about {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: #252525;
    font-size: 20px;

    top: 500px;
}

.content-01 .explore-about h1 {
    padding: 20px;
}

.content-01 .find-your-course {
    position: absolute;
    top: 80vh;
    display: flex;
    width: 100%;
    justify-content: space-between;
    text-align: center;

    font-size: 40px;
}

.content-01 .find-your-course .edition-2024 {
    font-size: 20px;

}

.content-01 .find-your-course .span-your-course {
    font-size: 20px;
    position: relative;
    right: 20px;
}

.content-01 .find-your-course h1 {
    padding: 20px;

}

.content-02 {
    width: 100%;
    height: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}

.content-02 .box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 250px;
    height: 300px;
    border: solid 3px white;

}

.content-02 .box .number-box {
    position: relative;
    display: flex;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: aliceblue;
    border-radius: 0 10px 0 10px;
    text-align: center;
    color: #000000;



}



.content-02 .box .text-box {
    padding: 20px;
}

.content-02 .box button {


    align-self: center;
    justify-self: center;
    width: 150px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #aa84f9;
}

.title-box,
.text-box {
    margin-top: 10px;
    align-self: center;
    justify-self: center;
}

.content-02 .arrows {
    top: 350px;
    gap: 100px;
    position: absolute;
    z-index: 2;
    display: flex;
}

.content-03 {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 120%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.content-03>img {
    position: relative;
    align-self: flex-start;
    transform: rotate(-40deg);
    width: 500px;
    right: 700px;
    top: 30px;
}

.content-03 .item {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0 0 0 200px;
    top: 200px;

}

.content-03 .item .info-us {
    width: 300px;

}

.content-03 .item .info-us ul {

    display: flex;
    padding: 10px 0 10px;
    gap: 20px;
}

.content-03 .item .info-us button {
    margin: 10px 0 0 90px;
    width: 150px;
    height: 50px;
    cursor: pointer;
    background-color: #aa84f9;
    color: white;

}



.content-03 .background-01 img {
    height: 300px;
    margin: 0 300px 0 0;
    z-index: 1;
    bottom: 0;
    position: absolute;
    left: -20px;

}

.content-03 .background-01 {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #aa84f9;
    right: 15vw;
    top: 5vw;



}

.content-03 .background-02 {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #aa84f9;
    left: 15vw;
    top: 0vw;




}

.content-03 .background-02 img {
    height: 300px;
    margin: 0 300px 0 0;
    z-index: 1;
    bottom: 0;
    position: absolute;
    left: 20px;
    top: -40px;

}



.content-03 .item-01 {
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-between;
    margin: 0 200px 0 0;
    top: 30vw;
    right: 0;
}

.content-03 .explore {
    position: absolute;
    font-size: 70px;
    transform: rotate(-90deg);
    left: 85%;
    color: #252525;
}



.content-03 .item-01 .background-01 img {
    height: 300px;
    margin: 0 300px 0 0;
    z-index: 1;
    bottom: 0;
    position: absolute;
    left: 15px;
    bottom: -50px;
}





.content-05 {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;


}

.content-05 .titulo {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.content-05 .item {

    position: relative;
    width: 400px;
    height: 400px;
    text-align: center;
    color: #ffffff;
    top: 100px;




}

.item .background img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: solid 3px #aa84f9;

}

.item .conteudo {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.item .star {

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item p {
    max-width: 300px;
}

.content-05 .arrows-item {
    width: 20vw;
    position: absolute;
    top: 45vw;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    display: flex;



}

.content-06 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40vw;
    color: #ffffff;


}

.square-discover {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

}

.video {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 70%;
    color: #000000;
    background-color: #ffffff;


}

.content-07 {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: end;

}



.content-07 .item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px;
    box-sizing: border-box;


}

.content-07 .item .input-rodape {
    align-self: center;
    width: 40%;
    gap: 20px;
}

.content-07 .item input {
    height: 50px;
    margin-right: 30px;
    border: solid 2px #aa84f9;
    background-color: #181818;
    color: #ffffff;
    font-size: 2rem;



}

.content-07 .item .big {
    height: 100px;
    margin-right: 30px;


}

.content-07 .item .button-rodape {
    text-align: center;
    align-self: center;
    right: 0;
    height: 40px;
    width: 200px;
    background-color: #aa84f9;
    color: #ffffff;

}

.content-07 img {
    align-self: flex-end;
    position: relative;
    top: 10px;
    right: 10px;
    width: 50%;


}


.content-07 .item .input-rodape {
    display: flex;
    flex-direction: column;

}

.rodape-end {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    box-sizing: border-box;
    background-color: #aa84f9;

}

.rodape-end .item input {
    width: 400px;
    height: 40px;
    margin-bottom: 30px;

}

.rodape-end .item .social-media {
    display: flex;
    width: 350px;
    justify-content: space-between;
    margin-top: 0;
    align-items: center;
    gap: 20px;
}

.rodape-end .item .social-media  img {
    width: 40px;
}

.rodape-end .item .sign {
    text-align: end;
    margin-bottom: 30px;
}
